.App {
	overflow: hidden;
}
.nav-bar {
	position: fixed;
	height: 10%;
	padding: 5px;
	display: flex;
	align-items: center;
	background-color: salmon;
	width: 100%;
}
.home-greeting {
	margin-top: 25%;
	margin-bottom: auto;
}
.sales-floor {
	max-height: 100%;
	margin-top: 5%;
	margin-bottom: 50px;
	text-align: center;
	overflow-y: auto;
}
.product-list {
	display: flex;
	flex-flow: row wrap;
}
.product-detail {
	margin-top: 5%;
	margin-bottom: 50px;
}
.product-card {
	text-align: left;
	width: 300px;
	height: 400px;
	background-color: tan;
	margin: 15px;
	padding: 15px;
}
.product-card h3 {
	text-align: center;
}
.bottom-bar {
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: seagreen;
	height: 5%;
}
button {
	position: inline;
	top: 50%;
}
